{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<h1 class="text-center mt-5 mb-5">My Game Collection</h1>
    <div class="container">
        <div class="row">
            {% for game in user.games %}    
                <div class="card col-12 col-md-6 col-lg-3 ms-3 ">     
                     <div class="card-body">
                     <img src="{{ asset('uploads/' ~ game.picture) }}" alt="{{ game.title }}" class="card-img-top">
                        <h5 class="card-title mt-3">{{ game.title }}</h5>
                        {# <p class="card-text">{{ game.description }}</p> #}
                        <div class="d-flex flex-column justify-content-end ">
                            <a href="{{ path('app_show_game', {id: game.id}) }}" class="btn btn-success mx-auto d-block mt-5">More infos</a>
                        </div>
                    </div>
                </div>              
        {% endfor %}
    </div>

{% endblock %}


